* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  width: 360px;
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 100%;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  background: transparent;
  box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
  font-size: 32px;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

input::placeholder {
  color: #ffffff;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  justify-items: center;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.05),
              4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

.eqlbtn {
  background-color: #fb7c14;
  color: white;
  box-shadow: none;
}

.operator {
  color: greenyellow;
}

